<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"
    bootstrap="bootstrap-phpunit.php">

    <testsuites>
      <testsuite name="Amazon tests">
        <directory>PaymentProviders/Amazon/Tests/phpunit</directory>
      </testsuite>
    </testsuites>
</phpunit>
