<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"
    bootstrap="Tests/bootstrap-phpunit.php">

    <testsuites>
      <testSuite name="Message tests">
        <file>Tests/MessageTest.php</file>
      </testSuite>
      <testsuite name="Adyen tests">
        <directory>PaymentProviders/Adyen/Tests/phpunit</directory>
      </testsuite>
      <testsuite name="Amazon tests">
        <directory>PaymentProviders/Amazon/Tests/phpunit</directory>
      </testsuite>
      <testsuite name="AstroPay tests">
        <directory>PaymentProviders/AstroPay/Tests/phpunit</directory>
      </testsuite>
      <testsuite name="Worldpay tests">
        <directory>PaymentProviders/Worldpay/Tests/phpunit</directory>
      </testsuite>
    </testsuites>
</phpunit>
